@mixin paging-arrow {
  top: 50%;
  position: fixed;
  font-size: xx-large;
  &.disabled {
    color: #CCCCCC;
    cursor: text;
  }
}

.quiz-page {
  margin-top: 30px;
  width: 80%;
}

.quiz-page-error {
  text-align: center;
  font-size: xx-large;
}

.quiz-header {
  font-size: xx-large;
  color: #666666;
}

.quiz-prev {
  @include paging-arrow;
  float: left;
  left: 5%;
}

.quiz-next {
  @include paging-arrow;
  float: right;
  left: 95%;
}

.quiz-content {
  padding: {
    top: 10px;
    bottom: 30px;
  }
  font-size: 2em;
  word-wrap: break-word;
}

.quiz-answer-input {
  height: 60px;
  font-size: x-large;
}

.quiz-answer-button-container {
  text-align: center;
}

.quiz-answer-button {
  font-size: x-large;
}

.quiz-answer-result {
  height: 50px;
  font-size: xx-large;
  font-weight: bold;
}

.quiz-answer-result-correct {
  @extend .quiz-answer-result;
  color: #009900;
}

.quiz-answer-result-incorrect {
  @extend .quiz-answer-result;
  color: #FF0000;
}

.quiz-show-answer {
  margin-top: 20px;
  font-size: x-large;
}
